@import '../../_helpers/variables';
@import '../../_helpers/mixins';

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 5px;
  @include for-size(desktop-up) {
    min-width: 800px;
}
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    &_close {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: all 300ms ease;
      }
    }
    &_icon {
      width: 30px;
      height: 30px;
      fill: $brand-dark;
    }
  }
  &__text {
    margin: 0.5rem 0;
  }

  &__total {
    border-top: 1px solid rgba(50, 115, 220, 0.3);
    padding: 10px 0;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_image {
      width: 300px;
      height: 300px;
    }
  }
}