@import '../../_helpers/mixins';
.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  @include for-size(tablet-landscape-up) {

  }

  &__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}