@import '../../_helpers/mixins';
.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  @include for-size(tablet-landscape-up) {

  }

  &__button {
    padding: 10px 20px;
    background-color: $brand-background;
    border: none;
    border-radius: 5px;
    color: $brand-dark;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background-color: $brand-hover;
    }
  }
}