@import '../../_helpers/mixins';
.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
 &__container {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

  &__button {
    margin: 20px auto;
  }
}