@import '../../_helpers/variables';

.goodItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 0.5px solid $brand-grey;
  justify-content: space-between;
  max-width: 300px;
  &__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 28px;
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    width: 100%;
    margin-bottom: 20px;
  }

  &__button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $brand-grey;
    }
    &_image {
      width: 25px;
      height: 25px;
    }
  }
}