@import '../_helpers/variables';



$themes: (
        light: (
                bg: white,
                text: $brand-dark,
                fill: $brand-dark,
                box-shadow: $brand-shadow-dark,
        ),
        dark: (
                bg: $brand-dark,
                text: white,
                fill: white,
                box-shadow: $brand-shadow-light,
        ),
);