@import '../_helpers/variables';

$themes: (
        light: (
                bg: white,
                text: $brand-dark,
        ),
        dark: (
                bg: $brand-dark,
                text: white,
        ),
);