@import '../../_helpers/variables';
@import '../../_helpers/mixins';

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &__image {
    width: 100px;
    margin-right: 15px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    font-size: 16px;
    @include for-size(tablet-portrait-up) {
      font-size: 20px;
    }

    &_price {
      font-weight: bold;
    }
  }

  &__button {
    &_icon {
      height: 30px;
      width: 30px;
      margin: 0 auto;

      &:hover {
        transform: scale(1.1);
        transition: all 300ms ease;
      }
    }
  }
}