@import '_helpers/variables';
@import './_helpers/mixins';

html > * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $brand-dark;
  box-sizing: border-box;

  a {
    color: inherit;
    text-decoration: none;
  }

  @include themed() {
    color: t('text');
    background-color: t('bg');
    fill: t('fill')
  }
}
